body {
    font-family: Roboto, sans-serif;
    
}

.alert-container .col-12{
    padding-left: 0;
    padding-right: 0;
}
.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #fabd15;
    border-color: #fabd15;
    color: #965602;
}
.a-link {
    color: #6d4005;
    font-weight: bold;
}
.a-link:hover {
    color: #6d4005;

}
.callout-container {
    height: 100vh;
    background: url('../images/glass-whiskey-bourbon.jpg') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}
opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.quotes-container {

}
.features-container {

}
/*jumbotron*/
.jumbotron {
    background-color: transparent;
}
.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}
.jumbotron .lead {
    color: #d4a58a;
    margin: 25px 0;
}
.jumbotron small {
    font-size: 70%;
    font-style: italic;
    color: #d4a58a;
}

/*Buttons*/
.btn-cta {
    font-weight: bold;
    border-radius: 25px;
    width: 155px;
}
.btn-yellow {
    color: white;
    background-color: #e98d04;
    border-color: #e98d04;
}
.btn-yellow:hover,
.btn-yellow:active,
.btn-yellow:focus,
.btn-yellow:active:focus {
    background-color: #ce810f;
    border-color: #ce810f;
    color: rgb(252, 212, 166);
}
/*Nav*/
.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}
.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(56, 32, 2, 0.308);
    border: 0;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar .navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

